<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head') %>

    <body>
        <%- include('partials/header') %>
    <h1 class="titulo">Error 404</h1>
    <p>No encontrado</p> 

    <a href="/">Volver al inicio</a>
    <%- include('partials/footer') %>
</body>
</html>