<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head') %>

    <body>
        <%- include('partials/header') %>
        <main style="margin-top: 130px">
            <div class="d-block justif-content-center text-center py-5">
                <h1 class="text-center" class="titulo">Error 404</h1>
                <img src="/images/homer-doh.jpg" class="img-fluid img-thumbnail">
                <p class="h3">La página a la que estás intentando acceder, no existe.</p>
                <a class="my-2 h4" href="/">Volver al inicio</a>
            </div>
        </main>    
    <%- include('partials/footer') %>
</body>
</html>