<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
    <body>
        <%- include('partials/header') %>
        <main style="margin-top: 130px">
                <section class="container px-1">
                    <h2>Catálogo de Productos</h2>
                    <article class="col-auto">
                        <div class="col-sm-1 col-md-2 col-lg-3 d-flex flex-row collapse">
                            <% if(locals && locals.products) {%>
                                <% products.forEach(product => {%>
                                    <%- include('partials/product', {product}) %>
                            <%})%>
                            <%}else{%>
                                <p>No se encontraron productos</p>
                            <% } %>
                        </div>
                    </article>
                </section>
                <br>
            </main>
            <%- include('partials/footer') %>
    </body>
</html>