<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>

    <body>
        <%- include('partials/header') %>
            <main class="main-faq">
                <section class="faq-container">
                    <h1>Preguntas Frecuentes</h1>

                    <div class="box-faq">
                        <h2 class="box-question">Mi cuenta</h2>
                        <ul class="box-answer">
                            <li>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus quia sit iste repellendus atque, laudantium animi eos, numquam temporibus pariatur veritatis architecto debitis, commodi quos adipisci ut enim. A, eum?
                            </li>
                            <li>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus quia sit iste repellendus atque, laudantium animi eos, numquam temporibus pariatur veritatis architecto debitis, commodi quos adipisci ut enim. A, eum?
                            </li>
                        </ul>
                    </div>

                    <div class="box-faq">
                        <h2 class="box-question">Envíos</h2>
                        <ul class="box-answer">
                            <li>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus quia sit iste repellendus atque, laudantium animi eos, numquam temporibus pariatur veritatis architecto debitis, commodi quos adipisci ut enim. A, eum?
                            </li>
                            <li>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus quia sit iste repellendus atque, laudantium animi eos, numquam temporibus pariatur veritatis architecto debitis, commodi quos adipisci ut enim. A, eum?
                            </li>
                        </ul>
                    </div>

                    <div class="box-faq">
                        <h2 class="box-question">Cambios y devoluciones</h2>
                        <ul class="box-answer">
                            <li>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus quia sit iste repellendus atque, laudantium animi eos, numquam temporibus pariatur veritatis architecto debitis, commodi quos adipisci ut enim. A, eum?
                            </li>
                            <li>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus quia sit iste repellendus atque, laudantium animi eos, numquam temporibus pariatur veritatis architecto debitis, commodi quos adipisci ut enim. A, eum?
                            </li>
                        </ul>
                    </div>

                    <div class="box-faq">
                        <h2 class="box-question">Términos y condiciones</h2>
                        <ul class="box-answer">
                            <li>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus quia sit iste repellendus atque, laudantium animi eos, numquam temporibus pariatur veritatis architecto debitis, commodi quos adipisci ut enim. A, eum?
                            </li>
                            <li>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus quia sit iste repellendus atque, laudantium animi eos, numquam temporibus pariatur veritatis architecto debitis, commodi quos adipisci ut enim. A, eum?
                            </li>
                        </ul>
                    </div>

                </section>
            </main>
            <%- include('partials/footer') %>
    </body>

</html>