<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>

    <body>
        <%- include('partials/header') %>
        <main style="margin-top: 140px">
                <section class="cart-buttons">
                    <h2>Carrito</h2>
                    <article class="carrito">
                        <div class="container d-flex justify-content-center">
                            <div class="col-8 d-block">
                                
                                <div class="card col-6 shadow">
                                    <div class="row card-body">
                                        <div class="col text-center">
                                            <img src="/images/auricularesCorsairNovedades.jpg" alt="" class="foto-carro">
                                        </div>
                                        <div class="col-6 text-start">
                                            <span class="h5 detalle-producto">Auriculares gamer Corsair LT-453 Bluetooth</span>
                                            <div>
                                                <select name="cantidad" class="cantidad">
                                                    <option value="1" selected>1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                    <option value="6">6</option>
                                                    <option value="7">7</option>
                                                    <option value="8">8</option>
                                                    <option value="9">9</option>
                                                    <option value="10">10</option>
                                                </select>
                                            </div>
                                            <div> 
                                                <span class="fw-bold">Precio unitario: </span>
                                                <span class="h5 text-success precio-unitario">$ 2.574,50</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer d-flex justify-content-between">
                                        <i class="fas fa-trash-alt"></i>
                                        <span class="h4 text-success fw-bold precio-final">$ 2.574,50</span>
                                    </div>
                                </div>
    
                                <div class="card col-6 shadow">
                                    <div class="row card-body">
                                        <div class="col text-center">
                                            <img src="/images/tecladoRedDragonPopulares.jpg" alt="" class="foto-carro">
                                        </div>
                                        <div class="col-6 text-start">
                                            <span class="detalle-producto">Teclado USB Redragon retroiluminado RGB AS-34f3</span>
                                            <div>
                                                <select name="cantidad" class="cantidad">
                                                    <option value="1">1</option>
                                                    <option value="2" selected>2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                    <option value="6">6</option>
                                                    <option value="7">7</option>
                                                    <option value="8">8</option>
                                                    <option value="9">9</option>
                                                    <option value="10">10</option>
                                                </select>
                                            </div>
                                            <div> 
                                                <span class="fw-bold">Precio unitario: </span>
                                                <span class="h5 text-success precio-unitario">$ 5.471,99</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer d-flex justify-content-between">
                                        <i class="fas fa-trash-alt"></i>
                                        <span class="h4 text-success fw-bold precio-final">$ 10.943,98</span>
                                    </div>
                                </div>
    
                                <div class="card col-6 shadow">
                                    <div class="row card-body">
                                        <div class="col text-center">
                                            <img src="/images/mouseHyperXPopulares.jpg" alt="" class="foto-carro">
                                        </div>
                                        <div class="col-6 text-start">
                                            <span class="detalle-producto">Mouse gamer HyperX óptico</span>
                                            <div>
                                                <select name="cantidad" class="cantidad">
                                                    <option value="1" selected>1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                    <option value="6">6</option>
                                                    <option value="7">7</option>
                                                    <option value="8">8</option>
                                                    <option value="9">9</option>
                                                    <option value="10">10</option>
                                                </select>
                                            </div>
                                            
                                            <br>
                                            <div> 
                                                <span class="fw-bold">Precio unitario: </span>
                                                <span class="h5 text-success precio-unitario">$ 974,00</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer d-flex justify-content-between">
                                        <i class="fas fa-trash-alt"></i>
                                        <span class="h4 text-success fw-bold precio-final">$ 974,00</span>
                                    </div>
                                </div>
                                <div class="h3 text-primary fw-bold">
                                    <span>Total</span>
                                    <span> $ 13.147,54</span>
                                </div>
                            </div>
                            

                            <div class="col-2 mx-1">
                                <form>
                                    <div class="mb-3">
                                        <label for="exampleInputEmail1" class="form-label">Calle</label>
                                        <input type="email" class="form-control" id="exampleInputEmail1">
                                    </div>
                                    <div class="mb-3">
                                        <label for="exampleInputPassword1" class="form-label">Altura</label>
                                        <input type="password" class="form-control" id="exampleInputPassword1">
                                    </div>
                                    <div class="mb-3">
                                        <label for="exampleInputPassword1" class="form-label">Altura</label>
                                        <input type="password" class="form-control" id="exampleInputPassword1">
                                    </div>
                                    <div class="mb-3">
                                        <label for="exampleInputPassword1" class="form-label">Altura</label>
                                        <input type="password" class="form-control" id="exampleInputPassword1">
                                    </div>
                                    
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </form>
                            </div>
                        </div>
                    </article>

                    <article>
                        <div class="box-buttons">
                            <div class="box-buy-button">
                                <button class="buy-button">Comprar carrito</button>
                            </div>
                            <div class="box-add-button">
                                <button class="add-button">Seguir comprando</button>
                            </div>
                        </div>
                    </article>
                </section>
            </main>

            <%- include('partials/footer') %>
    </body>

</html>