<footer>
    <section>
        <article class="contactus-container">
            <p class="contactus-title">Contactanos</p>
            <div class="contact-form">
                <form action="" method="POST">
                    <div>
                        <input type="text" placeholder="Carlos Perez" name="nombre" class="nombre">
                    </div>
                    <div>
                        <input type="email" placeholder="usuario@ejemplo.com" name="email" class="email">
                    </div>
                    <div>
                        <textarea type="text" placeholder="Escriba su comentario..." rows="1" name="comentario" class="comentario"></textarea>
                    </div>
                    <div class="botones">
                        <button type="submit" class="send" value="Enviar">Enviar consulta</button>
                        <button type="reset" class="clean" value="Cancelar">Cancelar</button>
                    </div>
                </form>
            </div>
        </article>
    </section>
    <section class="data">
        <article>
            <div class="data-item">
                <span><i class="far fa-building"></i> Av. Rivadavia N° 3454 Piso 3</span>
            </div>
            <div class="data-item">
                <span><i class="fas fa-envelope-open-text"></i> contacto@peritroopers.com.ar</span>
            </div>
            <div class="data-item">
                <span><i class="fas fa-phone-alt"></i> 4117-5794</span>
            </div>
            <div class="data-item">
                <span><i class="fas fa-map-marker-alt"></i> Ciudad Autónoma de Buenos Aires</span>
            </div>
            <div class="data-item-faq">
                <span><a href="/faq" class="faq-item">Preguntas Frecuentes</a></span>
            </div>
        </article>

    </section>
    <section class="social-media">
        <article>
            <ul class="socialIcons">
                <li class="facebook"><a href="https://www.facebook.com"><i class="fab fa-facebook" ></i>Facebook</a></li>
                <li class="twitter"><a href="https://www.twitter.com"><i class="fab fa-twitter" ></i>Twitter</a></li>
                <li class="instagram"><a href="https://instagram.com"><i class="fab fa-instagram" ></i>Instagram</a></li>
            </ul>
        </article>
    </section>
    <section class="copyright">
        <article class="texto">
            <p>2021 © DH-Troopers</p>
        </article>
    </section>
</footer>