<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Peritroopers</title>
    <link rel="shortcut icon" href="../images/peritroopers_icon.ico">
    <link rel="stylesheet" href="/../css/clear-mode.css" type="text/css">
    <link rel="stylesheet" href="/../css/normalize.css" type="text/css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
</head>