
    <!-- Top to bottom-->
    <div class="">
        <div class="col d-flex mx-3">
       
          <!-- normal -->
          <div class="grid">
            <a id="" href="/products/<%= product.id %>">
                <figure class="effect effect-oscar" id="effect-product" style="height: 320px; width: 320px">
                    <img class="img-prod text-center" src="../images/<%= product.image %>" alt="img01"/>
                    <figcaption>
                        <h2 id="h2-prod"><span class="legend"><%= product.name %></span></h2>
                        <p class="price">$ <%= product.price %></p>
                    </figcaption>			
                </figure>
            </a>
            <!-- ... -->
            
        </div>